<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobile" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Roadkill</name>
    <description>
        Roadkill report powered by Phonegap.
    </description>
    <author email="cookiej4u@gmail.com" href="http://roadkill.tw">
        TaiRON and IIS Sinica
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
</widget>
