<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phonegap</name>
    <description>
        Roadkill report powered by phonegap.
    </description>
    <author email="cookiej4u@iis.sinica.edu.tw" href="http://roadkill.tw">
        IIS Sinica
    </author>
    <content src="post2.html" />
    <access origin="*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
</widget>
