.photo-row {
  height: 60px;
  margin: 20px 0px 10px 0px;  
}
img.photo {
  padding: .5em;
  max-width: 80px;
}
div.meter {
  height: 20px;
  width: 120px;
  position: relative;
  margin: 0px 0px 20px;
  background: none repeat scroll 0% 0% #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3) inset;
}
div.meter > span {
  width: 0%;
  display: block;
  height: 100%;
  border-radius: 20px 8px 8px 20px;
  background-color: #2BC253;
  background-image: linear-gradient(center bottom , #2BC253 37%, #54F054 69%);
  box-shadow: 0px 2px 9px rgba(255, 255, 255, 0.3) inset, 0px -2px 6px rgba(0, 0, 0, 0.4) inset;
  position: relative;
  overflow: hidden;
}
div.meter > span > div {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  -webkit-animation: 2s linear 0s normal none infinite running move;
  border-radius: 20px 8px 8px 20px;
  overflow: hidden;
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
