// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-row {
  height: 60px;
  margin: 20px 0px 10px 0px;  
}
img.photo {
  padding: .5em;
  max-width: 80px;
}
